@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  /*background-color: #060417;*/
  height: 100%;
}

@layer base {
  html {
    @apply scroll-smooth max-[800px]:overflow-x-hidden;
  }
  body {
    @apply bg-slate-950 max-[800px]:overflow-x-hidden;
  }
}
