@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  /*background-color: #060417;*/
}
main {
  margin: auto;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-slate-950;
  }
}
